.form{
  margin-bottom:1rem;
  display:flex;
  gap:10px;
}

#grocery-input{
  flex-grow:1;
  padding:6px;
  font-size:1rem;
}

.submit-btn{
  padding:6px 12px;
  background-color:#00bcd4;
  color:white;
  border:none;
  cursor:pointer;
}