*,
*::after,
*::before {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  color: rgb(5, 29, 114);
}

body {
  background: #eee;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-weight: 600;
  color: #222;
}

.section-center {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 30rem;
  background: #8ecc1c;
  border-radius: 0.55rem;
  padding: 2rem;
  position: relative;
}
