.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.single-item p {
  text-transform: capitalize;
  margin: 0;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.single-item .btn:hover {
  background: #299593;
}

.single-item .remove-btn {
  background: #e71616;
}

.single-item .remove-btn:hover {
  background: #c9302c;
}
